<app-header></app-header>
  <div class="container h400 d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body w450">
        <label for="basic-email">Email *required</label>
        <input [(ngModel)]="login" type="text" class="form-control" placeholder="Please enter email" id="basic-email">
        <label for="basic-password">Password *required</label>
        <input [(ngModel)]="pass" type="text" class="form-control" placeholder="Please enter password" id="basic-password">
        <a (click)="loginHandler()" href="#" class="btn btn-primary mt-2">Login</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>

