<app-header></app-header>
  <div class="container h400 d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body w450">
        <form>
          <label for="basic-email">Email *required</label>
          <input
            [(ngModel)]="login"
            type="text"
            class="form-control"
            placeholder="Please enter email"
            id="basic-email"
            name="login"
          >
          <label for="basic-password">Password *required</label>
          <input
            [(ngModel)]="pass"
            type="text"
            class="form-control"
            placeholder="Please enter password"
            id="basic-password"
            name="password"
          >
          <button type="submit" (click)="loginHandler()" class="btn btn-primary mt-2 {{login && pass && 'white'}}">Login</button>
        </form>
      </div>
    </div>
  </div>
<app-footer></app-footer>

