<div class="alert alert-info mt-2" role="alert">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-7">
            <p>{{courseItem.title}}</p>
        </div>
        <div class="col-3">
          <span class="pr-5">{{formatTime(courseItem.duration)}}</span>
          <span>{{courseItem.creationDate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>{{courseItem.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex flex-row-reverse">
      <div class="btn-group-vertical">
          <button type="button" class="btn btn-info">Edit</button>
          <button (click)="deleteHandler(courseItem.id)" type="button" class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
