<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<form [formGroup]="data">
  <label for="title">Title</label>
  <div class="input-group mb-3">
    <input formControlName="title" type="text" class="form-control {{ title.hasError('titleValidation') ? 'hasError' : 'noError' }}" id="title">
  </div>
  <label for="description">Description</label>
  <div class="input-group mb-3">
    <textarea formControlName="description" rows="5" type="text" class="form-control" id="description"></textarea>
  </div>
  <label for="date">Date</label>
  <div class="input-group mb-3 container">
    <div class="row">
      <div class="col p-0">
        <input type="date" formControlName="creationDate" class="form-control" id="date">
      </div>
    </div>
  </div>
  <label for="duration">Duration</label>
  <div class="input-group mb-3 p-0">
    <div class="d-flex flex-row align-items-center p-0">
        <input formControlName="duration" type="text" class="form-control mr-4"  id="duration">
        <span>
          {{data.duration | durationPipe}}
        </span>
    </div>
  </div>
  <!--TODO show also date pipe-->
  <label for="authors">Authors</label>
  <div class="input-group mb-3">
    <input type="text" value="Sample authors" class="form-control" id="authors">
  </div>
  <button type="button" class="btn btn-primary btn-lg px-5 mr-4" (click)="updateData(data).then()">Save</button>
  <button type="button" class="btn btn-secondary btn-lg px-5" (click)="cancel()">Cancel</button>
</form>
<app-footer></app-footer>
