/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.w600 {
  width: 600px;
}

.w450 {
  width: 450px;
}

.h400 {
  height: 400px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
